[submodule "vendor/jquery-pixelate.js"]
	path = vendor/jquery-pixelate.js
	url = https://github.com/dpstrange/jquery-pixelate.js
[submodule "vendor/FlowType.JS"]
	path = vendor/FlowType.JS
	url = https://github.com/simplefocus/FlowType.JS.git
