<article>
    <h2><a href="{{ post.url | absolute_url }}">{{ post.date | date: "%b %d, %Y" }} - {{ post.title }}</a></h2>
    {% if post.featured %}
    <div class="featured"{% if site.featured-height %} style="max-height: {{ site.featured-height }}px"{% endif %}>
      <a href="{{ post.url | absolute_url }}"><img class="featured-image" src="{{ post.featured | absolute_url }}"></a>
    </div>
    {% endif %}
    {% if post.content contains '<!--more-->' %}
       <p>{{ post.content | split:'<!--more-->' | first }}</p>
    {% else %}
       <p>{{ post.excerpt | strip_newline | strip_html }}</p>
    {% endif %}
    {% if post.content contains '<!--more-->' or post.excerpt != post.content %}
    <a href="{{ post.url | absolute_url }}">Continue Reading</a>
    {% endif %}
</article>