---
---

/* Webfonts - https://int10h.org/oldschool-pc-fonts/ */

@font-face {
    font-family: 'IBM_MDA';
    src: url({{ '/assets/fonts/ibm_mda.ttf' | absolute_url }}) format('truetype');
    font-weight: bold;
    font-style: normal;
  }

/* Screen Style */

@media screen {
    @import "main";
}

/* Print Style */

@media print {
    @import "print";
}