<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{% if page.layout == "homepage" %}{{ site.title }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.layout == "homepage" %}{{ site.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines }}{% endif %}">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
    <link href="{{ '/feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)">
  </head>
  <body>
    <header>
      {% include header.html %}
    </header>
    <main>
      {{ content}}
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>