<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{% if page.layout == "homepage" %}{{ site.title }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.layout == "homepage" %}{{ site.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines }}{% endif %}">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
    <link href="{{ '/feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)">
  </head>
  <body>
    <header>
      {% include header.html %}
    </header>
    <main>
      {{ content}}
    </main>
    <footer>
      {% include footer.html %}
    </footer>
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ '/assets/js/main.js' | absolute_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/pixelate.js' | absolute_url }}"></script>
  </body>
</html>